.btn--uppercase {
  text-transform: uppercase;
}

.btn--small{
  font-weight: 700;
  font-size: 12px;
}

.btn--large{
  font-weight: 700;
  font-size: 16px;
  padding: 15px;
}

.btn--center {
  margin: 0 auto;
}